# Create a file named .env.local in the project root and add your API keys like below
# Do NOT commit your real key to version control.
VITE_PEXELS_API_KEY='1vBX6aIbaVavXbeO02bJgXrEqlJaqjOlwItUiudO9lxLPnTRvdLX7nC9 '
VITE_PIXABAY_API_KEY='27807501-f4a87da05330ee5e3014ccc9c'
VITE_UNSPLASH_API_KEY='GyocVvN5N_tP4ZLzcXUlYr4xUiNx4ZRDFcATvRHQ5UE '